<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.common.mapper.PPropertyUnitMapper">

    <resultMap type="com.wisdom.common.domain.entity.PPropertyUnit" id="PPropertyUnitMap">
        <result property="unitId" column="unit_id" jdbcType="INTEGER"/>
        <result property="buildingId" column="building_id" jdbcType="INTEGER"/>
        <result property="buildingNumber" column="building_number" jdbcType="VARCHAR"/>
        <result property="floorId" column="floor_id" jdbcType="INTEGER"/>
        <result property="floorNumber" column="floor_number" jdbcType="INTEGER"/>
        <result property="unitNumber" column="unit_number" jdbcType="VARCHAR"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="authenticationStatus" column="authentication_status" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="propertyId" column="property_id" jdbcType="INTEGER"/>
        <result property="propertyName" column="property_name" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="propertyUnitUserMap" type="com.wisdom.common.domain.vo.PPropertyUnitAndPUserVo">
        <!-- PPropertyUnit 的字段映射 -->
        <result property="ownerId" column="owner_id"/>
        <!-- PUser 的字段映射 -->
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="authenticationStatus" column="authentication_status" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectUserAndPUList" resultMap="propertyUnitUserMap" resultType="com.wisdom.common.domain.vo.PPropertyUnitAndPUserVo">
        SELECT
        ppu.*,
        pu.*
        FROM
        p_property_unit ppu
        LEFT JOIN
        p_user pu ON ppu.owner_id = pu.user_id
        WHERE
        1=1  AND pu.del_flag = 0 AND ppu.del_flag = 0
        <if test="authenticationStatus != null">
            AND authentication_status = #{authenticationStatus}
        </if>
        <if test="userName != null">
            AND user_name = #{userName}
        </if>
        <if test="propertyId != null">
            AND property_id = #{propertyId}
        </if>

    </select>
    <select id="selectUserAndPUOne" resultType="com.wisdom.common.domain.vo.PPropertyUnitAndPUserVo">
        SELECT
            ppu.*,
            pu.*
        FROM
            p_property_unit ppu
                LEFT JOIN
            p_user pu ON ppu.owner_id = pu.user_id
        WHERE
            unit_id = #{unitId} AND pu.del_flag = 0 AND ppu.del_flag = 0
    </select>
    <select id="selectDictUserAndPUList" resultType="com.wisdom.common.domain.vo.PPropertyUnitAndPUserVo">
        SELECT
        ppu.*,
        pu.*
        FROM
        p_property_unit ppu
        LEFT JOIN
        p_user pu ON ppu.owner_id = pu.user_id
        WHERE
            1=1 AND pu.del_flag = 0 AND ppu.del_flag = 0
        <if test="propertyId != null">
            AND property_id = #{propertyId}
        </if>

    </select>


</mapper>

