<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.system.mapper.SysOssMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        oss_id, file_name, original_name, file_suffix, url, create_time, create_by, update_time, update_by, service
    </sql>

</mapper>
